<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbs.goodplace.com"
    android:versionCode="1"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".View.main.GoodPlaceApp"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        
        <!-- 高德定位 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0fdc4960b600105bba80d15743ab18c2" />
        
        <activity
            android:name=".View.main.IndexActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.RankingView"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.City.CityListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.ShopInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.ShopMsgActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="lbs.goodplace.com.View.main.ShopTrafficActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="lbs.goodplace.com.View.main.ShopCommontActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.CredittypeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.shops.SearchShopsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.ShopImageListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.ImageBlowerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.main.ShopUpLoadImageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.register.RegistePhoneActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.register.RegisteMailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.LeaveMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.CommontAddActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.main.ShopSignWallActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.fav.MyFavshopsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.categories.CategoriesActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.categories.RegionsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.main.ShopProductListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.login.EditUserinfoAcitivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.msg.MsgDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.msg.MsgPicActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.msg.GetInfoSMSActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.msg.InfoPregetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.shops.SummitProblemActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.shops.MapActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.myinfo.MyInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.myinfo.MyinfoDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="lbs.goodplace.com.View.msg.GetInfoSucceedAcitvity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>

        <!-- 注册服务 -->
        <service android:name="com.drcom.drpalm.Tool.service.DrPalmGuideService" >
        </service>

        <service android:name="com.drcom.drpalm.Tool.service.DrPalmPushService" android:exported="false">
            <intent-filter>
                <action android:name="com.drcom.drpalm.service.IDrPalmPushService" >
                </action>
            </intent-filter>
        </service>
        <receiver android:name="com.drcom.drpalm.Tool.service.PushServiceReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="lbs.goodplace.com.manage.push.PushReceiver" >
            <intent-filter>
                <action android:name="lbs.goodplace.com.PUSH_GETMESSAGE_ACTION" />
                <action android:name="lbs.goodplace.com.PUSH_UPGRADEAPP_ACTION" />
            </intent-filter>
        </receiver>
        <!-- 
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
         -->
    </application>

    <!-- 此权限用于将某些信息写入SD卡功能 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 此权限用于获取关于网络状态信息的功能 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STATS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" >
    </uses-permission>
    <!-- 定位 -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

</manifest>